
.lingma/


.workbuddy/

.vscode/

logs/
experiment_data/
videos/
curriculum_envs/

runs/
assets/
godot-game/build*/
godot-game\optuna-env/
godot-game\build-multiagent/

# Python cache files
__pycache__/




nul
